@charset "utf-8";
*{margin:0;padding:0;border:0;}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
ul{
	list-style-type: none; 
}
body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-size:15px;
}
.mapwindow{
    position: absolute;
    /* top: 0; */
    height: 98%;
    width: 100%;
}
.head{
    position: absolute;
    height: 8%;
    width: 100%;
    background: url(../Image/home.png);
    background-size:cover;
    overflow: hidden;
    z-index: 10;
}
.date{
    position: absolute;
    top: 3%;
    width: 850px;
    height: 30px;
    left: 30%;
    /* margin: auto; */
    /* left:calc(100%-900px); */
    user-select:none;
    /* border-radius: 8px 8px 0 0 ; */
    /* background-color: red; */
    z-index: 10;
}


.date #dateRun{
    position: absolute;
    top: 0px;
    /* left: 30px; */
    width: 70%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10%;
    -moz-border-radius:0.5rem;
    border-radius:0.5rem;
    /* background-color: gold; */
}
.date .box {
    width: 100%;
    height: 100%;
    /*margin: 200px auto;*/
    /* background-color: gold; */
}

#progressTime_control {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(../Image/start.png);
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    background-size:cover;
    background-position: center;
}

#progressTime_control:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
}

#progressTime_control:hover:after {
    border-left-color: #ccc;
}

.progressTime {
    /*filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;*/
    color: white;
    width: 80%;
    height: 100%;
    display: none;
    position: relative;
    float: left;
}

#progressTime_concent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}

#scrollBarBox {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 15%;
    z-index: 2;
}

#scrollBar {
    width: 90%;
    height: 80%;
    top: 10%;
    cursor: pointer;
    position: absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:999rem;
    border-radius:999rem;
    border-style:solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.5);
    padding: 0 13px 0 5px;
}

.timecode {
    width: 58px;
    height: 24px;
    background-color: rgb(0, 66, 63);
    position: absolute;
    top: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: none;
    /* z-index: 20; */
}

.timecode:after {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid rgb(0, 66, 63);
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#scrollBar #scroll_Track {
    position: relative;
    width: 0px;
    height: 80%;
    top: 10%;
    background-color:rgb(0, 66, 63);
    transition: all ease-in-out .25s;
    -webkit-border-radius:50%;
    -moz-border-radius:999rem;
    border-radius:999rem;
}
#scrollBarBox  #scrollBar #scroll_Btn{
    position: relative;
    height: 14px;
    width: 14px;
    bottom: 2px;
    border: 1px solid;
    border-color:rgb(255,255,255);
    /* margin-left: 10px; */
    transition: all ease-in-out .25s;
    background-color:rgb(0, 66, 63);
    -webkit-border-radius:50%;
    -moz-border-radius:999rem;
    border-radius:999rem;
}
#scrollBarBox #scroll_Thumb {
    height: 20px;
    width: 30%;
    text-align: center;
    line-height: 20px;
    position: relative;
    left: 91%; 
    cursor: pointer;
    color: #000;
}


#dateSearch{
    position: absolute;
    top: 3%;
    right: 5%;
    width: 210px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);;
    -webkit-border-radius:50%;
    -moz-border-radius:999rem;
    border-radius:999rem;
    z-index: 10;
}
#dateSearch #searchimg{
    position: relative;
    width: 26px;
    height: 26px;
    left: 10px;
    top: 2px;
    background-image: url(../Image/search.png);
    background-size:cover;
    background-position: center;
    
}
#dateSearch #inputandimg{
    position: relative;
    width: 150px;
    height: 24px;
    background-color: #ffffff;
    left: 45px;
    bottom: 23px;
    -webkit-border-radius:25%;
    -moz-border-radius:0.5rem;
    border-radius:0.5rem;
}
#dateSearch #inputandimg #input{
    position: relative;
    width: 110px;
    height: 24px;
    border: 0;
    /* margin-left: 10px; */
    /* background-color: red; */
}
#dateSearch #inputandimg #date{
    position: relative;
    width: 110px;
    height: 20px;
    top: 2px;
    left: 8px;
    text-align:center; 
    color: black;
    vertical-align:middle;
    background-color: #ffffff;
}
#dateSearch #inputandimg #dateimg{
    position: relative;
    width: 24px;
    height: 24px;
    bottom: 25px;
    left: 120px;
    cursor: pointer;
    background-image: url(../Image/date.png);
    background-size:cover;
    background-position: center;
}
/*天地图加载区*/
#map {
    position: absolute;
    bottom: 0px;
	width: 100%;/*宽度自适应*/
    height: 100%;/*高度在js中根据浏览器自动获取并设置*/
    z-index: 0;
}
/*****************************************************************************************/
/***********************************整个左侧导航栏区域开始********************************/
/*****************************************************************************************/
/*左侧导航栏整体*/
#leftguidediv{
    position: absolute;
    height: 70%;
    width: 20%;
    top: 8%;
    z-index: 10;
}
#leftguidediv #leftguide{
    position: relative;
    height: 100%;
    width: 90%;
    background-color: rgba(0,0,0,0.5);
	user-select:none;
}
#leftguidediv #leftguide >ul{
	position: relative;
	display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
	width: 100%;
    height: 100%;
}
#leftguidediv #leftguide > ul::-webkit-scrollbar{
    width: 5px;  
}
#leftguidediv #leftguide > ul::-webkit-scrollbar-track
{
	border-radius: 10px;
}
#leftguidediv #leftguide > ul::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}

#leftguidediv #leftguide .nLi{
	position: relative;
	top: 10px;
	/* line-height: 25px; */
    margin:0 0 10px 10px;
    display: block;
}
#leftguide .nLi img{
	position: relative;
	display: inline;
	cursor: pointer;
	margin:0 10px 3px 10px;/*3是距底部距离，图片是14*14的，上下差3px*/
	vertical-align:middle;/*设置图片垂直居中*/
}
#leftguide .nLi >p{
	position: relative;
	display: inline;
    font-size: 15px;
    /* line-height: 25px; */
	color: #fff;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
	/* background-color: red; */
}
#leftguide .nLi .sub li{
    margin: 0px 0px 2px 35px;
    width: 75%;
    /* background-color: rgb(44,43,43); */
    list-style: none;
	cursor: pointer;
}
#leftguide .nLi .sub li p{
    position: relative;
	display: inline;
    font-size: 14px;
    line-height: 25px;
	color: #fff;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
}
#leftguide .nLi .sub input {
	margin: 0 0 0 1px;
    display: inline-block;
    background-color: red;
	/*opacity: 0 ;*/
}/*************************************************/
/*       修改radio的原样式开始         */
/*************************************************/
/*隐藏radio和checkbox的原样式*/
#leftguide .nLi .sub li input[type="radio"] {
	opacity: 0 ;
}
/* 当radiuo被选中时，把input下边的div标签的背景图片替换掉 */
#leftguide .nLi .sub li input[type="radio"]:checked+div{ 
    background-image: url(../Image/danxuan_on.png);
    background-size: cover;
}

/*代替radio原样式的div*/
#leftguide .nLi .sub li .radio_option{
	width: 13px;
	height: 13px;
	display: inline-block;
	background-size: cover;
    cursor: pointer;
	background-image: url(../Image/danxuan_off.png);
}
#legend{
    position: relative;
    width: 95%;
    color: #ffffff;
    /* top: 2px; */
    /*需要根据图例的个数进行动态修改*/
    /* height: 100%; */
    height: 150px;
    left: 30px;
    /* background-color: red; */
    display: none;
}

#leftguide ul .nLi .sub {
    color: #fff;
    height: 100%;
    /* background-color: red; */
	display: none;
}

#leftguide .nLi p:hover{
    text-shadow: 2px 2px 10px ;
    background-color: rgb(157,3,0);
}
#leftguide .nLi .sub p:hover{
	text-shadow: 2px 2px 10px;
}
#leftguidediv #controlButton{
    position: relative;     
    height: 108px;
    width: 21px;
    left: 90%;
    bottom: 65%;
    opacity: 0.87;
    cursor: pointer;
    user-select:none;
    /* margin:0 0 2px 0; */
}
#leftguidediv #controlButton .LeftGuidebtn{
	position: absolute;
	top: 45%;
    left: 30%;
    cursor: pointer;
}
/*****************************************/
/*************左侧导航栏结束**************/
/*****************************************/
#rightbutton{
    position: absolute;
    right: 0;
    bottom:60%; 
    z-index: 10;
}
#rightbutton .button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
}
#rightbutton  .button:hover{
    background-color: rgb(157,3,0);
}
#rightbutton .button div{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    margin: 3px 0 3px 0;
    margin-left:auto;
    margin-right:auto;
    background-size: cover;
    background-position: center;
}
#rightbutton #earth{
    background-image: url(../Image/earch.png);
}
#rightbutton #table{
    background-image: url(../Image/table.png);
}
#rightbutton #change{
    background-image: url(../Image/change.png);
}
#rightbutton .imagechange{
    position: absolute;
    width: 0px;
    height: 50px;
    right: 42px;
    bottom: 60%;
    background-color: #ffffff;
    user-select: none;
    /* display: none; */
}
#rightbutton .imagechange div{
    position: relative;
    /* display: inline-block; */
    margin-left: 4px;
    top: 3px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    /* border-width: 1px;
    border-style: solid;*/
    border: solid 1px;
    border-color:rgb(255, 255, 255); 
    background-size: cover;
    background-position: center;
    display: none;
}
.open{
    border-color:rgb(63, 134, 230)  !important;
}
#rightbutton .imagechange div:hover{
    border-color:rgb(63, 134, 230);
}
#ditu{
    background-image: url(../Image/ditu.png);
}
#rsimage{
    background-image: url(../Image/img.png);
}
#dem{
    background-image: url(../Image/dem.png);
}
.footshow{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20%;
    /* background-color: rgba(0,0,0,0.5);; */
    z-index: 10;
}
 .footshow .foottop{
    position: relative;
    height: 21px;
    width: 108px;
    /* background-color: red; */
    cursor: pointer;
    margin: auto; 
}
.footshow .foottop .bottombtn{
    position: relative;
    top: -14px;
    left: 42%;
}
.footbottom{
    position: relative;
    height:calc(100% - 21px);
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    /* background-color:red; */
} 
#foot{
    position: relative;
    top: 98%;
    height: 2%;
    font-size:45%;
    z-index: 10;
}
#foot p{
    text-align:center;
}